<h2>Certificates</h2>

<ul>
    <li>
        🌟 <a class="" href="/files/Prosser_Lakeview_Woods_2025_Certificate.pdf">
            <b>[current]</b> 2025 National Firewise USA Program Certificate, valid through 2026 (pdf)
        </a>
    </li>
    <li>
        <a class="" href="/files/Prosser_Lakeview_Woods_2024_Certificate.pdf">
          2024 National Firewise USA Program Certificate, valid through 2025 (pdf)
        </a>
    </li>
    <li>
        <a class="" href="/files/Prosser_Lakeview_Woods_2023_Certificate.pdf">
            2023 National Firewise USA Program Certificate, valid through 2024 (pdf)
        </a>
    </li>
    <li>
        <a class="" href="/files/Prosser_Lakeview_Woods_2022_Certificate.pdf">
            2022 National Firewise USA Program Certificate, valid through 2023 (pdf)
        </a>
    </li>
</ul>
