<div class="tl pb3">
  <a target="_blank" class="risk-reduction-link clickable-banner-link" href="{{ $.Site.Data.navigation.links.log }}">
    <div class="risk-reduction clickable-banner">
      <div class="clickable-banner-title">
        🍁 Firewise Defensible Space Work Log
      </div>
      <div class="clickable-banner-description">
        <p class="b f4 light-blue link hover-pink underline">Click here to report your defensive space and home hardening work.</p>

        <p>In order to maintain our Firewise USA® Recognition status, we need to report an annual wildfire risk reduction investment and/or defensible space volunteer hours. Thank you for taking the time to complete the form.</p>
      </div>
    </div>
  </a>
</div>
