<h2>Documents</h2>

<ul>
    <li>
        <a class="" href="/files/00_2022_Prosser_FirewiseCommAssess_TFPD.pdf">
            Firewise USA® Recognition Program Community Wildfire <b>Risk Assessment</b> (pdf)
        </a>
    </li>
    <li>
        <a class="" href="/files/3_year_action_plan.pdf">
            Three-year <b>action plan</b> (pdf)
        </a>
    </li>
    <li>
        <a class="" href="/files/Prosser_Lakeview_and_Woods_FW_map.pdf">
            Prosser Lakeview and Woods Firewise boundary <b>map</b> (pdf)
        </a>
    </li>
</ul>
