<h2>Certificate and program documents</h2>

<ul>
    <li>
        🌟 <a class="" href="/files/Prosser_Lakeview_Woods_2024_Certificate.pdf">
            2024 National Firewise USA Program Certificate, valid through 2025 (pdf)
        </a>
    </li>
    <li>
        🌟 <a class="" href="/files/Prosser_Lakeview_Woods_2023_Certificate.pdf">
            2023 National Firewise USA Program Certificate, valid through 2024 (pdf)
        </a>
    </li>
    <li>
        🌟 <a class="" href="/files/Prosser_Lakeview_Woods_2022_Certificate.pdf">
            2022 National Firewise USA Program Certificate, valid through 2023 (pdf)
        </a>
    </li>
    <li>
        <a class="" href="/files/00_2022_Prosser_FirewiseCommAssess_TFPD.pdf">
            Firewise USA® Recognition Program Community Wildfire Risk Assessment (pdf)
        </a>
    </li>
    <li>
        <a class="" href="/files/3_year_action_plan.pdf">
            Three-year action plan (pdf)
        </a>
    </li>
    <li>
        <a class="" href="/files/Prosser_Lakeview_and_Woods_FW_map.pdf">
            Prosser Lakeview and Woods Firewise boundary map (pdf)
        </a>
    </li>
</ul>
