<h2>Certificate and program documents</h2>

<ul>
    <li>
        🌟 <a class="" href="/files/Prosser_Lakeview_Woods_2023_Certificate.pdf">
            2023 National Firewise USA Program Certificate (pdf)
        </a>
    </li>
    <li>
        🌟 <a class="" href="/files/Prosser_Lakeview_Woods_2022_Certificate.pdf">
            2022 National Firewise USA Program Certificate (pdf)
        </a>
    </li>
    <li>
        <a class="" href="/files/00_2022_Prosser_FirewiseCommAssess_TFPD.pdf">
            Firewise USA® Recognition Program Community Wildfire Risk Assessment (pdf)
        </a>
    </li>
    <li>
        <a class="" href="/files/3_year_action_plan.pdf">
            Three-year action plan (pdf)
        </a>
    </li>
</ul>
