<div class="education-day mt3">
  <div class="flex">
    <img src="/files/save-the-date.png" width="200" height="200" class="mr3"/>
    <h3><span class="gray">Calling all Prosser Lakeview and Prosser Woods Estates homeowners! Just over two weeks until our</span> Wildfire Education Day!</h3>
  </div>

  <p class="mt3">
    Join Prosser Firewise on <b>Saturday, May 31st, 2025, from 10:30 a.m. to 12:30 p.m.</b> at <b>11526 Ida Way</b>.
  </p>
  <p>
    We'll have <b>James Blattler</b> from the Town of Truckee Office of Emergency Services and <b>Brittany Sheldon-Dooley</b> from Truckee Fire Protection District sharing essential information on:
    <ul>
      <li>Shelter and repopulation protocols</li>
      <li>Preparing <i>before</i> an evacuation order</li>
      <li>Understanding Red Flag Days</li>
      <li>Defensible space and home hardening inspections</li>
    </ul>
  </p>
  <p>
    Plus, get resources like reflective home address materials and wildfire readiness guides from TFPD!
  </p>
  <p>
    Equip yourself with the knowledge to protect your home, loved ones and neighbors. See you there!
  </p>
</div>
