{{ $events := (where .Site.RegularPages "Type" "events") }}
{{ $futureEvents := where $events ".Date" "ge" (now.AddDate 0 0 -2) }}

{{ if $futureEvents }}
<h2>Upcoming Events</h2>

<div class="events">
  {{ range $futureEvents }}
  <div class="event">
    <div class="event-date">{{ time.Format "Monday, January 2, 2006" .Date }}</div>
    <div class="event-title">{{ .Title }}</div>
    <div class="event-description">
      {{ .Summary }}
      <a class="event-readmore" href="{{ .RelPermalink }}">Read more →</a>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
