<div id="improvement-card"></div>

<script type="text/javascript">
  cards = [
    {
      image: "https://www.nfpa.org/-/media/Import/Images/Public-Education-2/By-topic/wildland/PrepDay/2021/2021PrepDay2WaysOut300.jpg",
      url: "https://www.nfpa.org/education-and-research/wildfire"
    },
    {
      image: "https://www.nfpa.org/-/media/Import/Images/Public-Education-2/By-topic/wildland/PrepDay/2021/2021PrepDayEmbers300.jpg",
      url: "https://www.nfpa.org/education-and-research/wildfire"
    },
    {
      image: "https://www.nfpa.org/-/media/Import/Images/Public-Education-2/By-topic/wildland/PrepDay/2021/2021PrepDayWoodPiles300.jpg",
      url: "https://www.nfpa.org/Public-Education/Fire-causes-and-risks/Wildfire/Preparing-homes-for-wildfire"
    },
    {
      image: "https://www.nfpa.org/-/media/Import/Images/Public-Education-2/By-topic/wildland/PrepDay/2021/2021PrepDayLandscaping300.jpg",
      url: "https://www.nfpa.org/Public-Education/Fire-causes-and-risks/Wildfire/Preparing-homes-for-wildfire"
    },
    {
      image: "https://www.nfpa.org/-/media/Import/Images/Public-Education-2/By-topic/wildland/PrepDay/2021/2021PrepDayScreenVents300.jpg",
      url: "https://www.nfpa.org/education-and-research/wildfire"
    },
    {
      image: "https://www.nfpa.org/-/media/Import/Images/Public-Education-2/By-topic/wildland/PrepDay/2021/2021PrepDayWildfirethreatens300.jpg",
      url: "https://www.nfpa.org/Public-Education/Fire-causes-and-risks/Wildfire/Preparing-homes-for-wildfire"
    },
    {
      image: "https://www.nfpa.org/-/media/Import/Images/Public-Education-2/By-topic/wildland/PrepDay/2021/2021PrepDayLawnDebris2300.jpg",
      url: "https://www.nfpa.org/Public-Education/Fire-causes-and-risks/Wildfire/Preparing-homes-for-wildfire"
    },
    {
      image: "https://www.nfpa.org/-/media/Import/Images/Public-Education-2/By-topic/wildland/PrepDay/2021/2021PrepDayLawnDebris300.jpg",
      url: "https://www.nfpa.org/Public-Education/Fire-causes-and-risks/Wildfire/Preparing-homes-for-wildfire"
    },
    {
      image: "https://www.nfpa.org/-/media/Import/Images/Public-Education-2/By-topic/wildland/PrepDay/2021/2021PrepDayPets300.jpg",
      url: "https://www.nfpa.org/Public-Education/Fire-causes-and-risks/Wildfire/TakeAction/Household-pets"
    },
    {
      image: "https://www.nfpa.org/-/media/Import/Images/Public-Education-2/By-topic/wildland/PrepDay/2021/2021PrepDayHorses300.jpg",
      url: "https://www.nfpa.org/Public-Education/Fire-causes-and-risks/Wildfire/TakeAction/Horses"
    }
  ]
 const div = document.getElementById("improvement-card");
 const card = cards[Math.floor(Math.random()*cards.length)];

 div.innerHTML = `<a href="${card.url}"><img src="${card.image}"></a><div>See <a href="https://www.nfpa.org/Events/Events/National-Wildfire-Community-Preparedness-Day#socialmediacards" class="all-tips">all tips</a></div>`;
</script>
