<div class="mike-wolf-memorial mt3">
  <div class="flex">
    <h2>Mike Wolf Memorial Defensible Workdays will be held on Saturday, June 28 and 29, 2025!</h2>
  </div>

  <h3>Don't Forget About the FREE Dumpsters!</h3>

  <p class="mt3">
    To make clearing your property super easy, we have three big 30-yard dumpsters ready for you. They're specifically for Prosser Lakeview and Prosser Woods residents, and we're so grateful to the neighbors who are letting us place them on their driveways.
  </p>
  <p>
    You'll find them at:
    <b>
      <ul>
        <li>12095 Rainbow Drive</li>
        <li>12416 Lilac Court</li>
        <li>11526 Ida Way (Prosser Woods)</li>
      </ul>
    </b>
  </p>
  <p>
    A quick reminder on what not to toss in: no dirt, rocks, tree stumps, food waste, or bags. Also, please make sure nothing is sticking out of the top of the dumpster. You can find all the <a href="https://waste101.com/terms-conditions/" target="_blank">dumpster terms and conditions here</a> if you need a refresher.
  </p>
  <p>
    As always, please take a few minutes to record your efforts on <a href="https://docs.google.com/forms/d/e/1FAIpQLSdpMPoIkh8v4ZqH81Qu4geQD0d9ndeKJt1TYuHOiMjmxcT8ew/viewform" target="_blank">your defensible space work log form</a>. It makes a huge difference in maintaining our neighborhood FireWise status.
  </p>
  <p>
    Thanks in advance for helping us keep Prosser safe and fire-resistant. We really appreciate everyone's efforts!
  </p>
  <p>
    Cheers,
  </p>
  <p>
    The Prosser Firewise Committee
  </p>
</div>
