<h2>How you can help</h2>

<a class="survey-link clickable-banner-link" href="https://forms.gle/5wFxEz4X5Z8Wohk86">
  <div class="survey clickable-banner">
    <div class="clickable-banner-title">
      🏠 Fill Out Homeowner's Survey
    </div>
  </div>
</a>

<a class="risk-reduction-link clickable-banner-link" href="https://forms.gle/91CGZHuW7Pwp2G5m9">
  <div class="risk-reduction clickable-banner">
    <div class="clickable-banner-title">
      🍁 Firewise Defensible Space Work Log
    </div>
    <div class="clickable-banner-description">
      In order to receive and maintain Firewise USA® Recognition status we need to report an annual wildfire risk reduction investment and/or defensible space volunteer hours.  This link will lead you to an online form to report the work or expenses incurred toward these efforts which will help us in the qualification process.  Thank you for taking the time to complete the form.
    </div>
  </div>
</a>

<a class="emergency-alerts-link clickable-banner-link" href="https://www.truckeepolice.com/disaster-preparedness/">
  <div class="emergency-alerts clickable-banner">
    <div class="clickable-banner-title">
      📱 Sign Up for Truckee Emergency Alerts
    </div>
  </div>
</a>
